---
layout: default
title: Jehosafet
tagline:
js: elsewhere
css: elsewhere-styles
---
{% include JB/setup %}

<div id="menu-bar">
  <div id="contacts">
  {% for item in site.data.elsewhere.contacts %}
      <div id="contact-icon-{{ forloop.index }}" class="contact-icon-set">
          <a href="{{ item.url }}"><img src="/assets/images/contact-icons/{{ item.name }}.png" class="contact-icon-img"/></a>
      </div>
  {% endfor %}
  </div>
  <div id="escapepad">
    <span id="escapepad-label">Escape pad </span>
    <span id="escapepad-open">&#10568;</span>
    <span id="escapepad-close">»</span>
  </div>
</div>
<div class="menu">
  <h1><a href="{{ HOME_PATH }}">{{ site.title }}</a></h1>
</div>

<ul id="home-filter" class="els-filter">
    <li class="current">ALL</li>
    {% for categ in site.data.elsewhere.categs %}
    <li>{{ categ }}</li>
    {% endfor %}
</ul>

<div id="els-items">
{% for item in site.data.elsewhere.items %}
{% if site.data.elsewhere.hiddens contains item.key %}
{% else %}
  <div id="icon-{{ forloop.index }}" class="icon-set els-{{ item.categ }}">
    {% if item.url contains 'http://' or item.url contains 'https://' %}
    <a href="{{ item.url }}"></a>
    {% elsif item.url contains '.' %}
    {% capture full_url %}/{{ item.categ }}/{{{item.key}}{% endcapture %}
    <a href="{{ full_url }}"></a>
    {% else %}
    <a href="{{ item.url }}"></a>
    {% endif %}
    <span class="icon-date">{{ item.date }}</span>
    <img src="/assets/images/elsewhere-icons/{{ item.key }}.png" class="icon-img"/>
    <span class="icon-description">{{ item.name }}</span>
  </div>
{% endif %}
{% endfor %}
</div>

<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/paper.js/0.9.9/paper.js" ></script> -->
<!-- <script type="text/paperscript" src="/assets/js/stars.js" canvas="stars"></script> -->
<!-- <canvas id="stars" resize></canvas> -->
