---
layout: default
title: Jay H
tagline:
js: elsewhere
css: elsewhere-styles
---
{% include JB/setup %}

<!--<div id="menu-bar">
  <div id="contacts">
  {% for item in site.data.elsewhere.contacts %}
      <div id="contact-icon-{{ forloop.index }}" class="contact-icon-set">
          <a href="{{ item.url }}"><img src="/assets/images/contact-icons/{{ item.name }}.png" class="contact-icon-img"/></a>
      </div>
  {% endfor %}
  </div>
  <div id="escapepad">
    <span id="escapepad-label">Escape pad </span>
    <span id="escapepad-open">&#10568;</span>
    <span id="escapepad-close">»</span>
  </div>
</div>-->
<span id="about-link"><a href="{{ HOME_PATH }}me.html">Who?</a></span>

<h1><a href="{{ HOME_PATH }}">{{ site.title }}</a></h1>
<div class="nav">
    <ul>
        <li><a href="#all" class="active">all</a></li>
        {% for categ in site.data.elsewhere.categs %}
        <li><a href="#{{ categ }}">{{ categ }}</a></li>
        {% endfor %}
    </ul>
</div>

<div class="items">
  {% for item in site.data.elsewhere.items %}
  {% if item.url contains 'http://' or item.url contains 'https://' %}
    {% capture item_url %}{{ item.url }}{% endcapture %}
    {% elsif item.url contains '.' %}
    {% capture item_url %}/{{ item.categ }}/{{item.key}}{% endcapture %}
    {% else %}
    {% capture item_url %}{{ item.url }}{% endcapture %}
  {% endif %}
  {% if site.data.elsewhere.hiddens contains item.key %}
  {% else %}
    <a href="{{ item_url }}" class="group-{{ item.categ }}">
        <div class="item group-{{ item.categ }}">
            <img src="/assets/images/elsewhere-icons/{{ item.key }}.png" class="icon-img"/>
            <div class="item-name">{{ item.name }}</div>
        </div>
    </a>
  {% endif %}
{% endfor %}
</div>

