#wrapper {
    width: 900px;
}
#inner-wrapper {
    text-align: justify;
    line-height: 140%;
}
#title {
    overflow: hidden;
}
#jeh {
    float: left;
    width: 40px;
    margin-right: 10px;
}
#column-title {
    float: left;
    font-size: 120%;
    font-weight: bold;
}
#byline {
    float: right;
    /*margin-left: 30px;*/
    font-style: italic;
    font-size: 80%;
    /*font-weight: bold;*/
}
#dt {
    float: right;
    font-style: italic;
    font-size: 80%;
}

#subtitle {
    font-size: 80%;
    font-style: italic;
}
#article-title {
    font-size: 140%;
    font-style: italic;
    font-weight: bold;
}

#photo {
    float: left;
    margin-top: 12px;
    margin-right: 27px;
}
#mel {
}
#caption {
    font-style: italic;
    margin-top: 5px;
    font-size: 80%;
    width: 300px;
}
blockquote {
    margin-left: 0px;
    font-style: italic;
    font-weight: bold;
}
#interview {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 70px;
    margin-right: 70px;
}
