#wrapper {
    width: 900px;
}
#inner-wrapper {
    text-align: justify;
    margin-right: 30px;
}
#title {
    font-size: 120%;
    font-weight: bold;
    font-style: italic;
}
#dt {
    float: right;
    font-size: 90%;
    font-style: italic;   
}
.subtitle {
    font-size: 100%;
    font-style: italic;
    font-weight: bold;
}
.story {
    margin-left: 40px;
}
