
#post {
    text-align: left;
}

.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    float: left;
    margin-bottom: 10px;
    margin-right: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 8em;
}

#profile {
    float: left;
    width: 12em;
    margin-right: 18px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}

.green {
    background-color: #4CAF50; /* Green */
}

.button:hover {
    opacity: 0.7;
    filter: alpha(opacity=70);
}

#contact-buttons {
    display: table;
    margin: 0 auto;
}

#contact-buttons a {
    border-bottom: 0px;
}
#contact-buttons a:hover {
    text-decoration: none;
}
#contact-buttons a:visited {
    color: white;
}
