.title {
    margin-bottom: 1em;
}

#post {
    text-align: left;
}

.button {
    border: 1px black solid;
    /*color: white;*/
    color: black;
    padding: 6px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    float: left;
    margin-bottom: 10px;
    margin-right: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 5.5em;
}

#profile {
    float: left;
    width: 10em;
    max-width: 40%;
    margin-right: 18px;
    margin-bottom: 0.5em;
    /*margin-top: 1em;*/
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}

.green {
    background-color: #f5f8fc;
    /*background-color: #a6c6ff; /* Green */*/
}

#post a:hover {
    border: 1px black solid;
}

.button:hover {
    opacity: 0.45;
    /*color: black;*/
    filter: alpha(opacity=45);
}

#contact-buttons {
    display: table;
    margin: 0 auto;
}

#contact-buttons a {
    /*border-bottom: 0px;*/
    border: 1px black solid;
}
#contact-buttons a:hover {
    text-decoration: none;
}
#contact-buttons a:visited {
    /*color: white;*/
    color: black;
}

.papers {
    list-style: none;
    margin-left: 0;
}
#post ul {
    margin-left: 0;
}

.item-title{
    clear: both;
    font-size: 20px;
    font-weight: bold;
}
.paper-item {
    margin-top: 1.5em;
    background-color: #f5f8fc;
    padding: 1em;
    border-radius: 10px;
}
.item-image {
    margin-right: 1em;
    float: left;
    padding-bottom: 1em;
}
.item-brief {
    text-align: justify;
    float: left;
    display: contents;
}

.item-blurb {
    text-align: justify;
    float: left;
    display: contents;
    /*vertical-align: top;*/
    /*padding: 1em;*/
    /*background-color: #eee;*/
    /*border-radius: 10px;*/
}

.item-content {
    clear: both;
    /*padding: 1.625em 0 0;*/
    overflow: auto;
    padding-top: 1em;
    /*padding-bottom: 1em;*/
}
.item-comments {
    display: contents;
    text-align: justify;
}
.item-comments div {
    text-align: justify;
    display: contents;
}
