.content {
    width: 100%;
}

.items a {
    display: inline-block;
    color: inherit;
}
.items a:hover {
    opacity: 0.4;
    filter: alpha(opacity=40);
}   

.items {
    /*margin: 0 auto;*/
    /*display: table;*/
    /*min-width: 300px;*/
    /*max-width: 1000px;*/
    text-align: center;
    padding-bottom: 20px;
}

.item {
    padding-left: 17px;
    padding-right: 17px;
    float: left;
    width: 120px;
    height: 190px;
}

.item-name {
    font-size: 90%;
    text-align: center;
    font-family: 'Inconsolata', sans-serif;
}

.item img {
    max-width: 100%;
    max-height: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

/* NAVIGATION */

.nav {
    padding-top: 10px;
    padding-bottom: 35px;
    /*text-transform: uppercase;*/
}

.nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}
.nav li {
    font-size: 1.4em;
    line-height: 200%;
}

.nav a {
    text-decoration: none;
    color: inherit;
    display: block;
}

.nav a:hover {
    text-decoration: underline;
}

.nav a.active {
    font-weight: bold;
    cursor: default;
    text-decoration: none;
}

@media screen and (min-width: 600px) {
  .nav li {
    width: 90px;
    border-bottom: none;
    font-size: 1.2em;
  }

  .nav li {
    border-right: 1px solid black;
    margin-right: 2px;
    padding-right: 2px;
  }
 
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }

  .nav li:last-child {
    border-right: none;
    margin-right: 0;
    padding-right: 0;
  }

}
