.list-menu {
    padding-bottom: 1em;
}
input {
    padding-right: 1em;
}
ol {
    padding-left: 2em;
}
.list-img {
    padding-top: 1em;
    padding-bottom: 2em;
}
.album-img {
    width: 15em;
}
.book-img {
    width: 10em;
}
.btn-list {
    background: #3cb0fd;
}
.btn-year {
    background: #e494ff;
}
.btn-img {
    width: 3.8em;
    line-height: 1.0em;
    font-size: 0.8em;
    background: white;
    border: 1px dotted #cdcdcd;
    color: black;
}
.btn-img:hover {
    border: 1px solid #cdcdcd;
}
