.list-menu {
    padding-bottom: 1em;
}
input {
    padding-right: 1em;
}
ol {
    padding-left: 2em;
}
.list-img {
    padding-top: 1em;
    padding-bottom: 2em;
}
.album-img {
    width: 10em;
}

.ol-highlight {
    padding-left: 0 !important;
    margin-left: 0 !important;
}
.highlight-img {
    padding: 0;
    margin: 0;
    width: 7em;
    float: left;
}

.book-img {
    width: 7em;
}
.movie-img {
    width: 7em;
}

.btn-list {
    background: #3cb0fd;
}
.btn-year {
    background: #e494ff;
}
.btn-img {
    width: 3.8em;
    line-height: 1.0em;
    font-size: 0.8em;
    background: white;
    border: 1px dotted #cdcdcd;
    color: black;
}
.btn-img:hover {
    border: 1px solid #cdcdcd;
}
.item-artist {
    font-weight: normal;
}
.item-album {
    font-weight: bold;
    font-style: italic;
}
.item-year {
    color: #888;
}
