li {
	list-style: none;
	margin-top: 1em;
}
.smaller-font {
	font-size: 70%;
}
.tag {
	padding: 2px;
	border-radius: 6px;
	/*background-color: #999;*/
	/*color: white;*/
	/*border: 1px solid black;*/
	border: none;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
}
.date {
	/*font-weight: bold;*/
	color: #999;
}
.content {
}
