
.media-item {
    padding-bottom: 2em;
}

.item-head {
}

.item-qualifier {
    font-size: 90%;
}
.item-year {
    font-size: 90%;
}
.item-author {
    font-size: 90%;
}

.item-title {
    font-weight: bold;
    font-style: oblique;
}

.item-opinion {
    font-size: 90%;
    margin-left: 2em;
}

.item-label {
    /*font-weight: bold;*/
    color: gray;
    font-size: 100%;
    font-family: "Times New Roman", Georgia, Serif;
}

.btn-list {
    background: #3cb0fd;
}
.btn-year {
    background: #e494ff;
}
