.menu {
  clear: both;
  overflow: hidden;
  margin-bottom: 10px;
}
#menu-bar {
  display: block;
  overflow: hidden;
  padding-left: 10%;
  margin-bottom: 1%;
  text-align: center;
  /*background-color: #77BCD4;*/
  font-family: 'Playfair Display', serif;
}

#menu-bar #menu-filter li {
  display: inline;
  font-size: 90%;
  padding-right: 20px;
  list-style-type: none;
  text-transform: uppercase;
  cursor: pointer; cursor: hand;
}

#escapepad {
    font-family: 'Inconsolata', serif;
    text-transform: uppercase;
    color: gray;
    float: right;
    margin-right: 5px;
    padding-bottom: 15px;
}
#escapepad-label {
    font-size: 80%;
}
#escapepad-open {
}
#escapepad-close {
    display: none;
}
#escapepad:hover {
    text-decoration: underline;
    cursor: pointer;
}
#contacts {
    display: none;
    float: right;
}
.contact-icon-set {
    float: right;
    position: relative;
    padding-right: 3px;
    opacity: 0.8;
    filter: alpha(opacity=80);
}
.contact-icon-set:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
}
.contact-icon-img {
    width: 25px;
    height: 25px;
}
