#title-frame {
    margin-left: 10px;
    overflow: hidden;
}
#title-frame img {
    /*float: left;*/
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#title-frame span {
    text-align: center;
    display: block;
}
#frames {
    width: 520px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    margin-bottom: 10px;
}
#frames #border {
    width: 500px;
    float: left;
    border-bottom: 1px solid black;
}
#frames img {
    float: left;
    margin: 20px;
    width: 220px;
    height: 220px;
}
