#title-frame {
    margin-left: 10px;
    overflow: hidden;
}
#title-frame img {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#title-frame span {
    text-align: center;
    display: block;
}
#frames {
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    margin-bottom: 10px;
}
#frames #border {
    width: 500px;
    float: left;
    border-bottom: 1px solid black;
}
#frames img {
    width: 45%;
    float: left;
}
