---
layout: post
title: Media tracked
category: listed
css: media-tracked
js: favorites-lists
js2: media-tracked
---
{% include JB/setup %}

<div id="list">
    <br>
    <div class="btn-menu">
        <div class="btn btn-list" data-list="tracked-all">All</div>
        <div class="btn btn-list" data-list="tracked-books">Books</div>
        <div class="btn btn-list" data-list="tracked-movies">Movies</div>
    </div><br>
    <div class="btn-menu">
        <div class="btn btn-year" data-year="2015">2015</div>
        <div class="btn btn-year" data-year="2014">2014</div>
        <div class="btn btn-year" data-year="2013">2013</div>
        <div class="btn btn-year" data-year="2012">2012</div>
        <div class="btn btn-year" data-year="2011">2011</div>
        <div class="btn btn-year" data-year="2010">2010</div>
        <div class="btn btn-year" data-year="2009">2009</div>
        <div class="btn btn-year" data-year="2008">2008</div>
        <div class="btn btn-year" data-year="2007">2007</div>
    </div><br>
{% assign key = 'tracked_' %}
{% for item in site.data %}
    {% if item[0] contains key %}
        {% capture name %}{{ item[0] | remove:key }}{% endcapture %}
        {% for xs in item[1] reversed %}
            <div id="tracked-{{ name }}-{{ xs[0] }}" class="tracked-{{ name }} all list-group">
            <h2>{{ xs[0] }}</h2>
            {% for item in xs[1] reversed %}
                {% capture author %}{% if item.authors %}{{ item.authors }}{% else if item.author_short %}{{ item.author_short }}{% endif %}{% endcapture %}
                {% capture qualifier %}{{ item.kind }}{% if item.kind and item.year %}, {% endif %}{{ item.year }}{% endcapture %}
                <div class="media-item">
                    <div class="item-head">
                        <span class="item-title">{{ item.title }}</span>
                        {% if qualifier != empty %}
                        <span class="item-qualifier">[{{ qualifier }}]</span>
                        {% endif %}
                        {% if author != empty %}
                        <span class="item-author"> by {{ author }}</span>
                        {% endif %}
                    </div>
                    <div class="item-opinion">
                        {% if item.source and item.source != empty %}
                        <!--<div class="info">
                            <span class="item-label">info:</span> <a href="{{ item.source }}">(source)</a>
                        </div>-->
                        {% endif %}
                        {% if item.end_dt and item.end_dt != item.start_dt %}
                        <div class="date-read">
                            <span class="item-label">date:</span> {%if item.start_dt %}{{ item.start_dt | date: '%b %d, %Y' }} &ndash; {% endif %}{{ item.end_dt | date: '%b %d, %Y' }}{% if item.quit %} (quit){% endif %}
                        </div>
                        {% else if item.start_dt %}
                        <div class="date-read">
                            <span class="item-label">date:</span> {{ item.start_dt | date: '%b %d, %Y' }}
                            {% if item.start_dt != item.end_dt %}
                            (started)
                            {% endif %}
                        </div>
                        {% endif %}
                        {% if item.people and item.people != empty %}
                        <div class="people">
                            <span class="item-label">with:</span> {{ item.people }}
                        </div>
                        {% endif %}
                        {% if item.location and item.location != empty %}
                        <div class="location">
                            <span class="item-label">where:</span> {{ item.location }}
                        </div>
                        {% endif %}
                        {% if item.tags and item.tags != empty %}
                        <div class="tags">
                            <span class="item-label">tags:</span> {{ item.tags | join:", " }}
                        </div>
                        {% endif %}
                        {% if item.rating %}
                        <div class="rating">
                            <span class="item-label">rating:</span> {{ item.rating }}
                        </div>
                        {% endif %}
                        {% if item.description != empty %}
                        <div class="comments">
                            <span class="item-label">comments:</span> {% if item.review and item.review != empty %}
                            [full review <a href="{{ item.review[0] }}">here</a>]
                            {% endif %} {{ item.description }}
                        </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            </div>
        {% endfor %}
    {% endif %}
{% endfor %}
</div>
