---
layout: post
title: Media tracked
category: listed
css: media-tracked
js: favorites-lists
js2: media-tracked
---
{% include JB/setup %}

<div id="list">
    <br>
    <div class="btn-menu">
        <div class="btn btn-list" data-list="tracked-all">All</div>
        <div class="btn btn-list" data-list="tracked-books">Books</div>
        <div class="btn btn-list" data-list="tracked-movies">Movies</div>
    </div><br>
    <div class="btn-menu">
        <div class="btn btn-year" data-year="2015">2015</div>
        <div class="btn btn-year" data-year="2014">2014</div>
        <div class="btn btn-year" data-year="2013">2013</div>
        <div class="btn btn-year" data-year="2012">2012</div>
        <div class="btn btn-year" data-year="2011">2011</div>
        <div class="btn btn-year" data-year="2010">2010</div>
        <div class="btn btn-year" data-year="2009">2009</div>
        <div class="btn btn-year" data-year="2008">2008</div>
        <div class="btn btn-year" data-year="2007">2007</div>
    </div><br>
{% assign key = 'tracked_' %}
{% for item in site.data %}
    {% if item[0] contains key %}
        {% capture name %}{{ item[0] | remove:key }}{% endcapture %}
        <div id="tracked-{{ name }}-2015" class="tracked-{{ name }} all list-group">
            <h2>{{ name | capitalize }}</h2>
            <div class="items">
            {% for item in item[1] reversed %}
                <div class="media-item">
                    <div class="item-head">
                        <span class="item-title">{{ item.title }}</span> 
                        <span class="item-year">({{ item.year }})</span>
                    </div>
                    <!--<div class="item-info">
                        <span class="info"><a href="{{ item.url }}">(info)</a></span>
                    </div>-->
                    <div class="item-opinion">
                        {% if item.end_dt and item.end_dt != item.start_dt %}
                        <div class="date-read">
                            <span class="item-label">date:</span> {%if item.start_dt %}{{ item.start_dt | date: '%b %d, %Y' }} &ndash; {% endif %}{{ item.end_dt | date: '%b %d, %Y' }}{% if item.quit %} (quit){% endif %}
                        </div>
                        {% else if item.start_dt %}
                        <div class="date-read">
                            <span class="item-label">date:</span> {{ item.start_dt | date: '%b %d, %Y' }}
                            {% if item.start_dt != item.end_dt %}
                            (started)
                            {% endif %}
                        </div>
                        {% endif %}
                        {% if item.rating %}
                        <div class="rating">
                            <span class="item-label">rating:</span> {{ item.rating }}
                        </div>
                        {% endif %}
                        {% if item.description != empty %}
                        <div class="comments">
                            <span class="item-label">comments:</span> {% if item.review != empty %}
                            [full review <a href="{{ item.review }}">here</a>]
                            {% endif %} {{ item.description }}
                        </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    {% endif %}
{% endfor %}
</div>
