---
layout: post
title: Favorites
category: listed
css: favorites
js: favorites-lists
js2: favorites
---
{% include JB/setup %}

<div id="list">
    <br>
    <div class="btn-menu">
        <div class="btn btn-list" data-list="all">All</div>
        <div class="btn btn-list" data-list="books">Books</div>
        <div class="btn btn-list" data-list="music">Music</div>
        <div class="btn btn-list" data-list="movies">TV & Film</div>
        <div class="btn btn-list" data-list="misc">Others</div>
    </div><br>
    <div class="btn-menu">
        <div class="btn btn-year" data-year="2020">2020</div>
        <div class="btn btn-year" data-year="2019">2019</div>
        <div class="btn btn-year" data-year="2018">2018</div>
        <div class="btn btn-year" data-year="2017">2017</div>
        <div class="btn btn-year" data-year="2016">2016</div>
        <div class="btn btn-year" data-year="2015">2015</div>
        <div class="btn btn-year" data-year="2014">2014</div>
        <div class="btn btn-year" data-year="2013">2013</div>
        <div class="btn btn-year" data-year="2012">2012</div>
        <div class="btn btn-year" data-year="2011">2011</div>
        <div class="btn btn-year" data-year="2010">2010</div>
        <div class="btn btn-year" data-year="2009">2009</div>
        <div class="btn btn-year" data-year="2008">2008</div>
        <div class="btn btn-year" data-year="2007">2007</div>
    </div><br>
    <div class="btn-menu">
        <div class="btn btn-img" data-toggle="">Hide images</div>
    </div><br>
    {% assign baseurl = "https://mobeets.github.io/cover-art" %}
    {% for year in site.data.albums reversed %}
        {% assign yr = year[0] %}
        <div id="music-{{yr}}" class="music all list-group">
            <h2>{{yr}} Albums</h2>
            <div class="new-albums">                
                {% if site.data.albums[yr].new_releases.size > 0 %}
                    <h3>New releases</h3>
                    <ol>
                    {% for item in site.data.albums[yr].new_releases %}
                        {% capture itemname %}{% if item.artist %}{{ item.artist }} - {% endif %}{{ item.album }}{% endcapture %}
                        {% capture itemurl %}{{itemname | replace:'.','_' | replace:'/','_' | replace:';','_' | replace:':','_'}}{% endcapture %}
                        <li>{% if item.artist %}{{ item.artist }} - {% endif %}<i>{{ item.album }}</i>{% if item.url %} <a href="{{ item.url}}">[link]</a>{% endif %}</li>
                        <img class="list-img album-img" src="{{ baseurl }}/music/{{ yr }}/{{ itemurl }}.jpeg"></img>
                    {% endfor %}
                    </ol>
                {% endif %}
            </div>
            <div class="old-albums">
                {% if site.data.albums[yr].old_releases.size > 0 %}
                    <h3>Old releases</h3>
                    <ol>
                    {% for item in site.data.albums[yr].old_releases %}
                        {% capture itemname %}{% if item.artist %}{{ item.artist }} - {% endif %}{{ item.album }}{% endcapture %}
                        {% capture itemurl %}{{itemname | replace:'.','_' | replace:'/','_' | replace:';','_' | replace:':','_'}}{% endcapture %}
                        <li>{% if item.artist %}{{ item.artist }} - {% endif %}<i>{{ item.album }}</i> ({{ item.year }}){% if item.url %} <a href="{{ item.url}}">[link]</a>{% endif %}</li>
                        <img class="list-img album-img" src="{{ baseurl }}/music/{{ yr }}/{{ itemurl }}.jpeg"></img>
                    {% endfor %}
                    </ol>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    {% for year in site.data.books reversed %}
        {% assign yr = year[0] %}
        {% assign yrstr = yr | plus: 0 %}
        <div id="books-{{yr}}" class="books all list-group">
            <h2>{{yr}} Reads</h2>
            <div class="books">
                {% if site.data.books[yr].BOOKS.size > 0 %}
                    <h3>Books</h3>
                    <ol>
                    {% for item in site.data.books[yr].BOOKS %}
                        {% capture itemname %}{% if item.artist %}{{ item.artist }} - {% endif %}{{ item.album }}{% endcapture %}
                        {% capture itemurl %}{{itemname | replace:':','_' | replace:'?','_' | split:" [" | first }}{% endcapture %}
                        <li>{% if item.artist %}{{ item.artist }} - {% endif %}<i>{{ item.album }}</i> ({{ item.year }}){% if item.url %} <a href="{{ item.url}}">[link]</a>{% endif %}</li>
                        {% if yrstr > 2016 %}
                            <img class="list-img book-img" src="{{ baseurl }}/books/{{ yr }}/{{ itemurl }}.jpeg"></img>
                        {% else %}
                            <img class="list-img book-img" src="{{ baseurl }}/books/{{ itemurl }}.jpeg"></img>
                        {% endif %}
                    {% endfor %}
                    </ol>
                {% endif %}
            </div>
            <div class="not-books">
                {% if site.data.books[yr].NOT_QUITE_BOOKS.size > 0 %}
                    <h3>Not exactly books</h3>
                    <ol>
                    {% for item in site.data.books[yr].NOT_QUITE_BOOKS %}
                        {% capture itemname %}{% if item.artist %}{{ item.artist }} - {% endif %}{{ item.album }}{% endcapture %}
                        {% capture itemurl %}{{itemname | replace:':','_' | replace:'?','_' | split:" [" | first }}{% endcapture %}
                        <li>{% if item.artist %}{{ item.artist }} - {% endif %}<i>{{ item.album }}</i> ({{ item.year }}){% if item.url %} <a href="{{ item.url}}">[link]</a>{% endif %}</li>
                        {% if yrstr > 2016 %}
                            <img class="list-img book-img" src="{{ baseurl }}/books/{{ yr }}/{{ itemurl }}.jpeg"></img>
                        {% else %}
                            <img class="list-img book-img" src="{{ baseurl }}/books/{{ itemurl }}.jpeg"></img>
                        {% endif %}
                    {% endfor %}
                    </ol>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    {% for year in site.data.movies reversed %}
        {% assign yr = year[0] %}
        <div id="movies-{{yr}}" class="movies all list-group">
            <h2>{{yr}} TV & Film</h2>
            <div class="movies">                
                {% if site.data.movies[yr].movies.size > 0 %}
                    <h3>Movies</h3>
                    <ol>
                    {% for item in site.data.movies[yr].movies %}
                        {% capture itemname %}{{ item.album }}{% endcapture %}
                        {% capture itemurl %}{{itemname | replace:';','_' | replace:'.','_' | replace:'/','_' | replace:':','_' | replace: '?','%3F'}}{% endcapture %}
                        <li><i>{{ item.album }}</i> ({{ item.year }}){% if item.artist %} - {{ item.artist }}{% endif %}{% if item.url %} <a href="{{ item.url}}">[link]</a>{% endif %}</li>
                        <img class="list-img album-img movie-img" src="{{ baseurl }}/movies/{{yr}}/{{ itemurl }}.jpeg"></img>
                    {% endfor %}
                    </ol>
                {% endif %}
            </div>
            <div class="tv">                
                {% if site.data.movies[yr].tv.size > 0 %}
                    <h3>TV</h3>
                    <ol>
                    {% for item in site.data.movies[yr].tv %}
                        {% capture itemname %}{{ item.album }}{% endcapture %}
                        {% capture itemurl %}{{itemname | replace:';','_' | replace:'.','_' | replace:'/','_' | replace:':','_' | replace: '?','%3F'}}{% endcapture %}
                        <li><i>{{ item.album }}</i> ({{ item.year }}){% if item.artist %} - {{ item.artist }}{% endif %}{% if item.url %} <a href="{{ item.url}}">[link]</a>{% endif %}</li>
                        <img class="list-img album-img movie-img" src="{{ baseurl }}/movies/{{yr}}/{{ itemurl }}.jpeg"></img>
                    {% endfor %}
                    </ol>
                {% endif %}
            </div>
        </div>
    {% endfor %}

</div>
